nav {
    height: 50px;
    flex: 100%;
    display: flex;
    background-color: bisque;
    margin-top: 10px;
}

nav ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    flex: 2;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a, nav span {
    display: inline-block;
    font-size: 1.5rem;
    height: 2rem;
    /* line-height: 1.7; */
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

header {
    text-align: center;
}

header h1 {
    font-family: 'Kurale', serif;
    font-size: 50px;
    margin-bottom: 0;
}

header h4 {
    margin-top: 0;
}

header img {
    height: 400px;
    ;
}

/* || main layout  */

main {
    display: block;
}

main h4 {
    text-align: center;
}

article, section {
    flex: 4;
}

body {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

section {
    font-family: 'Roboto Condensed', sans-serif;
    color: #0c0505;
}

section h2 {
    text-indent: 20px;
}

section li {
    list-style: square;
    font-size: large;
}

#ingredients, #notes {
    padding: 10px;
    background-color: blanchedalmond;
    margin-top: 10px;
    margin-bottom: 10px;
}

#instructions, #topping {
    background-color: cornsilk;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    font-size: smaller;
}